body::selection {
  background-color: transparent;
}
body {
  font-family: "Noto Kufi Arabic", sans-serif;
}
.line {
  height: 4px;
  width: 60px;
  background-color: orange;
}
.custom-shadow {
  box-shadow: -14px 11px 30px rgba(0, 0, 0, 0.4);
}
